<!DOCTYPE html>
<html lang="en">
<head secret="<%= secret %>" period="<%= period %>">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/generator.css">
  <title>Check-in Generator</title>
  <script src="https://cdn.jsdelivr.net/npm/otpauth/dist/otpauth.umd.min.js"></script>
  <script src="https://unpkg.com/qrcode-generator"></script>
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="branding">
    <p class="head">Check-in Pass</p>
    <p class="sub">From the <img class="shadow" src="https://wadaily.co/logo.png" height="18" width="18" style="margin-left: 5px"> WADaily Team</p>
  </div>
  <div class="block">
    <p>Scan the QR code to get a pass</p>
    <div id="holder" class="qr-holder"></div>
    <div id="bar"></div>
  </div>
</body>
</html>