<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Check-in</title>
  <script>
    window.onfocus = function() {
      window.location.reload();
    }
  </script>
</head>
<body>
  <header>
    <div>
      <p class="head">Check-in Pass</p>
      <p class="sub">From the <img class="shadow" src="https://wadaily.co/logo.png" height="18" width="18" style="margin-left: 5px"> WADaily Team</p>
    </div>
  </header>
  <% if (valid) { %>
    <div class="rainbow">This pass is valid</div>
  <% } %>
  <main>
    <div>
      <% if (valid) { %>
        <p class="small">Checked in at</p>
        <p class="bigger"><%- date.timeString %></p>
        <p class="small">on</p>
        <p class="small"><%- date.dateString %></p> 
      <% } else { %> 
        <p class="small" style="margin-bottom: .2em;">Check-in code is invalid</p>
        <p>Please scan the code again from the front office</p>
      <% } %> 
    </div>
  </main>
</body>
</html>